import(Matrix)
import(gamlr)
import(methods)
import(parallel)
importFrom("stats", "coef", "quantile")

export(collapse,dmr)

S3method(coef,dmr)
S3method(predict,dmr)

exportClasses(dmrcoef)
exportMethods(predict)
